.hook-button-cross {
  background: #131316;
}
@media screen and (max-width: 960px) {
  .container-slider {
    max-width: 750px;
  }
  .navbar1-nav li {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .logo1 {
    margin-left: 30px;
  }
  .button-burger {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 40px;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  .button-burger:hover .icon-menu {
    fill: #ffe600;
  }
  .navbar1-nav {
    margin: 0;
  }
  .navbar1 .icon-menu {
    display: block;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  .responsive li {
    margin-right: 0;
  }
  .responsive li:not(:first-child)::before {
    display: none;
  }
  .responsive li:not(:first-child) {
    padding-left: 0;
  }
  .responsive li:not(:last-child) {
    padding-right: 0;
  }
  .responsive li a {
    color: #fff;
    font-size: 14px;
    font-family: 'OswaldRegular';
  }
  .responsive li a.is-active,
  .responsive li a:hover,
  .responsive li a:focus {
    color: #ffe600;
    border: none;
    text-decoration: none;
  }
  .responsive {
    position: absolute;
    max-width: 500px;
    left: 0;
    right: 0;
    top: 125px;
    z-index: 100;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .navbar1-nav li {
    display: none;
  }
  .responsive li {
    display: block;
    margin-right: 0;
  }
  .responsive li a {
    display: block;
    color: #fff;
  }
  .grid-features .grid-item {
    width: calc(100% / 3);
  }
  .grid-features .grid-item:not(:last-child) {
    padding-bottom: 20px;
  }
  .card-title h3 {
    font-size: 18px;
  }
  .card-description p {
    font-size: 16px;
  }
  .container-slider {
    max-width: 400px;
  }
  .slider-quote {
    width: 350px;
    font-size: 14px;
  }
  .counter-up .counterup-text {
    font-family: 'OswaldRegular';
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 19px;
  }
  .hero-foreground {
    padding-top: 250px;
    padding-bottom: 150px;
  }
  .hero-foreground .button {
    font-size: 16px;
    padding: 10px 25px;
    min-height: 40px;
  }
  .icons {
    padding: 10px;
  }
  .section {
    padding-top: 30px;
  }
  .services-description {
    margin-bottom: 20px;
  }
  .card-description p {
    font-size: 16px;
  }
  .layout-done {
    margin-top: 30px;
  }
  .picflex .resultitem.open {
    height: 520px !important;
  }
  .picflex .detailview .thumbImage .detail-img {
    height: 220px;
  }
  .picflex .detailview {
    height: 350px;
  }
  .counter-up .counterup-text {
    font-size: 30px;
  }
  .counter-up .counterup-text-description {
    font-size: 14px;
  }
  .section-team .heading {
    margin-bottom: 30px;
  }
  .grid-statistic,
  .grid-team,
  .grid-progress {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .person-name,
  .person-position {
    font-size: 16px;
  }
  .person-data .divider {
    width: 150px;
  }
  svg[class*=" icon-"].icon-cross {
    width: 14px;
    height: 14px;
  }
  .section-person p {
    font-size: 14px;
    margin-top: 5px;
  }
  .icons-social a {
    padding: 5px;
  }
  .services-description {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .grid-clients {
    margin-top: 40px;
  }
  .icons-group {
    margin-top: 20px;
  }
  .icons-group .icons {
    padding: 10px;
  }
  blockquote {
    font-size: 18px;
  }
  .author {
    margin-top: 5px;
  }
  .container-slider {
    max-width: 650px;
  }
  input[type=text] {
    padding: 10px;
  }
  .form-feedback textarea {
    min-height: 150px;
  }
  .button {
    min-height: 0;
    padding: 10px 20px;
    font-size: 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  .section-footer {
    min-height: 800px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-icons-social {
    margin-bottom: 50px;
  }
  .copyrights p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=theme.css.map */