.hook-button-cross {
  background: #131316;
}
@media screen and (max-width: 960px) {
  .container-slider {
    max-width: 750px;
  }
  .navbar1-nav li {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .logo1 {
    margin-left: 30px;
  }
  .button-burger {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 40px;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  .button-burger:hover .icon-menu {
    fill: #ffe600;
  }
  .navbar1-nav {
    margin: 0;
  }
  .navbar1 .icon-menu {
    display: block;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  a.icons.anchor,
  .icons-group .icons {
    padding: 10px;
  }
  .responsive li {
    margin-right: 0;
  }
  .responsive li:not(:first-child)::before {
    display: none;
  }
  .responsive li:not(:first-child) {
    padding-left: 0;
  }
  .responsive li:not(:last-child) {
    padding-right: 0;
  }
  .responsive li a {
    color: #fff;
    font-size: 14px;
    font-family: 'OswaldRegular';
  }
  .responsive li a.is-active,
  .responsive li a:hover,
  .responsive li a:focus {
    color: #ffe600;
    border: none;
    text-decoration: none;
  }
  .responsive {
    position: absolute;
    max-width: 500px;
    left: 0;
    right: 0;
    top: 125px;
    z-index: 100;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .navbar1-nav li {
    display: none;
  }
  .responsive li {
    display: block;
    margin-right: 0;
  }
  .responsive li a {
    display: block;
    color: #fff;
  }
  .grid-statistic {
    margin-bottom: 10px;
  }
  .section-statistic .heading {
    margin-right: 20px;
    margin-left: 20px;
  }
  .grid-features .grid-item {
    width: calc(100% / 3);
  }
  .grid-features .grid-item:not(:last-child) {
    padding-bottom: 20px;
  }
  .card-title h3 {
    font-size: 18px;
  }
  .card-description p {
    font-size: 16px;
  }
  .container-slider {
    max-width: 400px;
  }
  .slider-quote {
    width: 350px;
    font-size: 14px;
  }
  .counter-up .counterup-text {
    font-family: 'OswaldRegular';
    font-size: 30px;
  }
}
.person-name,
.person-position {
  font-size: 16px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.footer-icons-social {
  margin-bottom: 50px;
}
.copyrights {
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  input[type="text"]:not(:last-child) {
    margin-right: 20px;
  }
  .hero-foreground {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .hero-title h1 {
    font-size: 28px;
  }
  .button {
    padding: 14px 20px;
    font-size: 16px;
    min-height: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .services-description {
    margin-bottom: 20px;
  }
  .grid-team,
  .grid-clients {
    margin-top: 10px;
  }
  .person-data .divider {
    width: 130px;
  }
  .section-sample {
    display: none;
  }
  .section-done {
    padding-bottom: 30px;
  }
  .layout-done {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .layout-done .layout-item {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .layout-done .layout-item:last-child {
    margin-top: 20px;
  }
  .layout-done .done-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .layout-done .done-description p {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .logo1 {
    margin-left: 10px;
  }
  .button-burger {
    margin-right: 10px;
  }
  .responsive {
    max-width: 300px;
  }
  .hero-foreground {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .hero-title h1 {
    font-size: 20px;
  }
  .button {
    padding: 14px 20px;
    font-size: 16px;
    min-height: 30px;
  }
  h2 {
    font-size: 18px;
  }
  .services-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .grid-services {
    margin-top: 30px;
  }
  svg[class^="icon-"].icon-css3,
  svg[class*=" icon-"].icon-css3,
  svg[class^="icon-"].icon-pen,
  svg[class*=" icon-"].icon-pen,
  svg[class^="icon-"].icon-camera,
  svg[class*=" icon-"].icon-camera,
  svg[class^="icon-"].icon-cog,
  svg[class*=" icon-"].icon-cog,
  svg[class^="icon-"].icon-lab,
  svg[class*=" icon-"].icon-lab,
  svg[class^="icon-"].con-drawer,
  svg[class*=" icon-"].con-drawer,
  svg[class^="icon-"].icon-hammer,
  svg[class*=" icon-"].icon-hammer,
  svg[class^="icon-"].icon-spinner,
  svg[class*=" icon-"].icon-spinner,
  svg[class^="icon-"].icon-truck,
  svg[class*=" icon-"].icon-truck,
  svg[class^="icon-"].icon-alarm,
  svg[class*=" icon-"].icon-alarm,
  svg[class^="icon-"].icon-like,
  svg[class*=" icon-"].icon-like,
  svg[class^="icon-"].icon-lifebuoy,
  svg[class*=" icon-"].icon-lifebuoy,
  svg[class^="icon-"].icon-bubbles,
  svg[class*=" icon-"].icon-bubbles,
  svg[class^="icon-"].icon-home,
  svg[class*=" icon-"].icon-home,
  svg[class^="icon-"].icon-bubble,
  svg[class*=" icon-"].icon-bubble,
  svg[class^="icon-"].icon-phone,
  svg[class*=" icon-"].icon-phone,
  svg[class^="icon-"].icon-drawer,
  svg[class*=" icon-"].icon-drawer {
    width: 20px;
    height: 20px;
  }
  .grid-services .grid-item {
    width: calc(100% / 2);
    margin-bottom: 20px;
  }
  .navbar-done li a {
    font-size: 10px;
  }
  .navbar-done li:not(:first-child) {
    padding-left: 10px;
  }
  .navbar-done li:not(:last-child) {
    padding-right: 10px;
  }
  .done-title p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .section-done {
    padding-bottom: 10px;
  }
  .section-opinion {
    padding-top: 10px;
  }
  .layout-done {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .layout-done .layout-item {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .layout-done .layout-item:last-child {
    margin-top: 20px;
  }
  .section-sample {
    display: none;
  }
  .section-statistic,
  .section-about {
    padding-bottom: 10px;
  }
  .section-opinion .anchor {
    margin-bottom: 45px;
  }
  .grid-statistic {
    margin-top: 10px;
  }
  .grid-statistic .grid-item {
    width: calc(100% / 2);
    margin-bottom: 20px;
  }
  .section-statistic .heading {
    margin-bottom: 20px;
  }
  .layout-about {
    display: block;
  }
  .layout-about .layout-item:first-child {
    margin-bottom: 20px;
  }
  .about li {
    width: 200px;
  }
  .services-description {
    margin-bottom: 30px;
  }
  .about li:not(:last-child) {
    padding-bottom: 30px;
  }
  .about p {
    margin-top: 10px;
  }
  .section-team .heading {
    margin-bottom: 10px;
  }
  .grid-team .grid-item,
  .grid-progress .grid-item {
    width: calc(100% / 2);
    margin-bottom: 10px;
  }
  .person-data .divider {
    width: 100px;
  }
  .grid-team {
    margin-bottom: 10px;
  }
  .hide-active p {
    text-align: center;
  }
  .person-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
  }
  .icons-social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-team,
  .section-person {
    margin-bottom: 0;
  }
  .section-team {
    margin-top: 10px;
  }
  .grid-clients {
    margin-top: 10px;
  }
  .grid-clients .grid-item {
    width: calc(100% / 3);
  }
  .card-title h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .card-description p {
    font-size: 11px;
  }
  .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  input[type="text"] {
    padding: 5px;
    min-height: 40px;
    margin-bottom: 10px;
  }
  .form-feedback textarea {
    min-height: 115px;
  }
}

/*# sourceMappingURL=theme.css.map */